__pycache__/
cfg/**
!cfg/**/
!cfg/**/readme.md
logs/**
logs/**/
!logs/**/readme.md
resource/**
!resource/
!resource/source-python/
!resource/source-python/translations/
!resource/source-python/translations/**/
!resource/source-python/translations/**/*.ini
resource/source-python/translations/**/*_server.ini
sound/**/*.ztmp
